#chart {
    display: block;
    box-sizing: border-box;
    height: 97px;
    width: 326px;
}

@media only screen and (min-width: 560px) {
    #chart {
        display: block;
        box-sizing: border-box;
        height: 200px;
        width: 326px;
    }
}

@media screen and (min-width: 768px) {
    #chart {
        display: block;
        box-sizing: border-box;
        height: 20px;
        width: 455px;
    }
}