

  .card_up {
    border: 1px solid rgb(0, 217, 100);
    background-color: rgb(20, 43, 31);
  }
  
  .card_down {
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(39, 12, 12);
  }


.items{
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.items .card{
	width: 20%;
    word-wrap: break-word;    
    color: white;
    border: 1px;
    padding: 0.1rem 1rem 0.2rem 1rem;
    margin: 0.2rem 1rem 1rem 1rem;
    border-radius: 5%;
    box-shadow: 0 0 20px rgb(75, 74, 74);
    text-align: center;
}

.card .texto{
  height: 40px;
  overflow: hidden;
}

.precioCard{
 display: block;
}

@media screen and (max-width: 768px){
	.items .card{
    width: 33%;
	}
}

@media only screen and (max-width: 560px) {
	.items .card{
		width: 100%;
	}
}