.container {
  padding: 0.5rem 3rem 1rem 3rem;
  /*min-height: 100vh;*/
}

.items {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.titleCategory {
  display: inline-block;
  margin: 1rem 1rem 1rem 1rem;
  font-size: 25px;
}

#sinResultados {
  padding: 1rem;
  text-align: center;
  float: left;
  font-size: 27px;
  color: white;
  width: 100%;
}

ion-icon {
  padding: 0px 10px 0px 10px;
  font-size: 17px;
}

select {
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #7b7b7b;
  font-size: 1em;
  color: #999;
  font-family: 'Quicksand', sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}

.content-select select:hover {
  background: #B1E8CD;
}

.content-select:hover i {
  margin-top: 3px;
}

#response {
  max-width: 16rem;
}

#filtros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  color: white;
  padding: 0rem 1rem 0rem 0rem;
}

#selectorder,
#selectCategory {
  margin: 2%;
}