.card_up {
  border: 1px solid rgb(0, 217, 100) !important;
  background-color: rgb(20, 43, 31);
}

.card_down {
  border: 1px solid rgb(255, 0, 0) !important;
  background-color: rgb(39, 12, 12);
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin: auto;
  padding: 10px;
}

.img {
  height: 60%;
}

.card {
  word-wrap: break-word;
  max-height: 100%;
  color: white;
  border: 1px;
  padding: 0.1rem 1rem 0.2rem 1rem;
  margin: 0.2rem 1rem 1rem 1rem;
  border-radius: 5%;
  box-shadow: 0 0 20px rgb(75, 74, 74);
  text-align: center;
}

.carta {
  max-height: 100%;
  min-width: 20%;
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2% 2%;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . .";
  border: 1px;
  padding: 0.1rem 1rem 0.2rem 1rem;
  margin: 0.2rem 1rem 1rem 1rem;
  border-radius: 6px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  text-align: center;
}

.viewMore {
  color: yellow;
  text-decoration: none;
  font-weight: bolder;
  font-size: 2rem;
}

.buttonCard {
  display: block;
  height: 18%;
  padding: 0px 0px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  color: white;
  background: #3483FA;
  border: 0px;
  border-radius: 7%;
  width: 95%;
  display: block;
  font-size: 15px;
  padding: 0px !important;
}

.precioCard {
  display: block;
}

@media only screen and (min-width: 560px) {
  .carta {
    width: 40%;
    margin: 1%;
  }
}

@media screen and (min-width: 768px) {
  .carta {
    width: 20%;
    transition: 0.2s;
  }

  .carta:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}

.texto {
  word-wrap: break-word !important;
}