<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cripto Space</title>
    <link rel="stylesheet" href="../css/styleGeneral.css">
    <link rel="stylesheet" href="../css/styleHeader.css">
    <link rel="stylesheet" href="../css/styleFooter.css">
    <link rel="stylesheet" href="../css/styleIndex.css">
    <link rel="stylesheet" href="../css/styleCard.css">
    <link rel="stylesheet" href="../css/favBtn.css">
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Alertify -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />

    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header id="header"> </header>
    <main>
        <div class="container">

            <div id="orden">
                Ordenar por:
                <select id="selectOrder">
                    <option selected>Sin orden</option>
                    <option value="current_price,desc">Mayor precio</option>
                    <option value=current_price,asc>Menor precio</option>
                </select>
            </div>

            <div id="filters">
                Filtros:
                <select id="selectFilter">
                    <option value="ninguno" selected>Ninguno</option>
                    <option value="balance positivo">Balance positivo</option>
                    <option value="balance negativo">Balance Negativo</option>
                </select>
            </div>

            <div id="root">
                <div id="sinResultados"> </div>
                <div id="items" class="items"> </div>
                <div id="mas"> <button id="MostrarMasButton" class="hide"> Mostrar más... </button></div>
            </div>

        </div>
    </main>
    <footer id="footer"></footer>
    <script src="../js/libraries/jQuery/jQuery.js"></script>

    <script type="module" src="../js/initializers/indexInit.js"></script>
</body>

</html>